player-connection-mode=Listen
player-connection-guid=1944165004
player-connection-debug=0
player-connection-project-name=Multi-Player
player-connection-ip=192.168.0.4
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9857387ce2f648349a36342235773bb2
